<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: blue;
        }
    </style>
</head>
<body>
    <center>
        <h1>{{name}}</h1>
        <h1>{{age}}</h1>

            {% if age > 5 %}
        <h1>Your Eligible</h1>
            {% else %}
        <h2> Your Not Eligible This application </h2>
            {% endif %}
    </center>
</body>
</html>